/*
**Font
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*
**MIXINS
*/
/*
**Variables
*/
/*
**Style
*/
/* line 34, ../sass/main.scss */
* {
  padding: 0;
  margin: 0;
  outline: none;
}

/* line 40, ../sass/main.scss */
html {
  background: #ECEEF4;
}

/* line 44, ../sass/main.scss */
.main-wrap {
  max-width: 1020px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 51, ../sass/main.scss */
.main-wrap .btn {
  border: 1px solid #C9D0E1;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font: bold 10px Verdana;
  color: #6E768F;
  background: transparent;
}
/* line 68, ../sass/main.scss */
.main-wrap .header {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  width: 100%;
  height: 118px;
  justify-content: space-between;
  align-items: center;
}
/* line 74, ../sass/main.scss */
.main-wrap .header__go-back {
  background: url(../img/left.png) no-repeat 24px center;
}
/* line 77, ../sass/main.scss */
.main-wrap .header__sign-in {
  background: url(../img/signin.png) no-repeat 24px center;
}
/* line 80, ../sass/main.scss */
.main-wrap .header .btn {
  width: 148px;
  height: 47px;
  padding: 17px 0;
}
/* line 85, ../sass/main.scss */
.main-wrap .header__logo {
  width: 91px;
  height: 91px;
  margin: auto;
}

/* line 93, ../sass/main.scss */
.main {
  background: #fff;
  border: 1px solid #D5DAE7;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

/* line 99, ../sass/main.scss */
.head-form {
  height: 148px;
  margin-bottom: 90px;
  border-bottom: 1px solid #D5DAE7;
}
/* line 103, ../sass/main.scss */
.head-form__order {
  width: 70%;
  float: left;
}
/* line 107, ../sass/main.scss */
.head-form__help {
  width: 30%;
  float: right;
}
/* line 111, ../sass/main.scss */
.head-form__title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 14px 0px;
  color: #6E768F;
}
/* line 119, ../sass/main.scss */
.head-form .title-order::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 16px;
  height: 20px;
  top: 3px;
  margin: 0px 12px 0 0px;
  background: url(../img/ico01.png);
}
/* line 131, ../sass/main.scss */
.head-form .title-help::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 19px;
  height: 18px;
  top: 3px;
  margin: 0px 12px 0 0px;
  background: url(../img/ico02.png);
}
/* line 142, ../sass/main.scss */
.head-form__btn {
  display: inline-block;
}
/* line 144, ../sass/main.scss */
.head-form__btn_item {
  display: block;
  width: 153px;
  height: 47px;
}

/* line 152, ../sass/main.scss */
.order-list {
  display: inline-flex;
  justify-content: space-around;
  width: 70%;
}
/* line 159, ../sass/main.scss */
.order-list--format {
  font-size: 10px;
  color: #6E768F;
}
/* line 163, ../sass/main.scss */
.order-list__subitem {
  display: block;
}
