/*
**Font
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*
**MIXINS
*/
/*
**Variables
*/
/*
**Style
*/
/* line 34, ../sass/main.scss */
* {
  padding: 0;
  margin: 0;
  outline: none;
}

/* line 40, ../sass/main.scss */
html {
  background: #ECEEF4;
}

/* line 44, ../sass/main.scss */
.main-wrap {
  max-width: 1020px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 51, ../sass/main.scss */
.main-wrap .btn {
  border: 1px solid #C9D0E1;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font: bold 10px Verdana;
  color: #6E768F;
  background: transparent;
}
/* line 61, ../sass/main.scss */
.main-wrap .btn__place-order {
  margin-bottom: 12px;
  background: #5FCAC6;
  border: 1px solid #44B5B0;
  color: #fff;
}
/* line 66, ../sass/main.scss */
.main-wrap .btn__place-order:hover {
  background: #6fdbec;
}
/* line 71, ../sass/main.scss */
.main-wrap .btn__print-quote:hover {
  background: #c9d0e1;
}
/* line 76, ../sass/main.scss */
.main-wrap .header {
  -webkit-display: flex;
  -ms-display: flex;
  -moz-display: flex;
  -o-display: flex;
  display: flex;
  width: 100%;
  height: 118px;
  justify-content: space-between;
  align-items: center;
}
/* line 82, ../sass/main.scss */
.main-wrap .header__go-back {
  background: url(../img/left.png) no-repeat 24px center;
}
/* line 85, ../sass/main.scss */
.main-wrap .header__sign-in {
  background: url(../img/signin.png) no-repeat 24px center;
}
/* line 88, ../sass/main.scss */
.main-wrap .header .btn {
  width: 148px;
  height: 47px;
  padding: 17px 0;
}
/* line 93, ../sass/main.scss */
.main-wrap .header__logo {
  width: 91px;
  height: 91px;
  margin: auto;
}

/* line 101, ../sass/main.scss */
.main {
  background: #fff;
  border: 1px solid #D5DAE7;
  -webkit-border-radius: 7px;
  -ms-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
}

/* line 107, ../sass/main.scss */
.head-form {
  height: 148px;
  margin-bottom: 90px;
  border-bottom: 1px solid #D5DAE7;
  overflow: hidden;
}
/* line 112, ../sass/main.scss */
.head-form__order {
  width: 68%;
  padding: 26px 38px;
  float: left;
  border-right: 1px solid #d5dae7;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 119, ../sass/main.scss */
.head-form__help {
  width: 32%;
  padding: 26px 38px;
  float: right;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 124, ../sass/main.scss */
.head-form__help_description {
  margin-top: 8px;
  padding-left: 33px;
  color: #B0B7CF;
  font-size: 12px;
  line-height: 14px;
}
/* line 132, ../sass/main.scss */
.head-form__title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #6E768F;
}
/* line 139, ../sass/main.scss */
.head-form .title-order::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 16px;
  height: 20px;
  top: 3px;
  margin: 0px 12px 0 0px;
  background: url(../img/ico01.png);
}
/* line 151, ../sass/main.scss */
.head-form .title-help::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 19px;
  height: 18px;
  top: 3px;
  margin: 0px 12px 0 0px;
  background: url(../img/ico02.png);
}
/* line 162, ../sass/main.scss */
.head-form__btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 25%;
  top: -25px;
}
/* line 168, ../sass/main.scss */
.head-form__btn_item {
  display: block;
  width: 153px;
  height: 47px;
}

/* line 176, ../sass/main.scss */
.help-contacts {
  padding-left: 33px;
}
/* line 178, ../sass/main.scss */
.help-contacts__item {
  all: unset;
  display: inline-block;
  margin-top: 14px;
  padding-right: 14px;
  font-size: 12px;
  font-weight: 700;
  color: #6E768F;
}

/* line 189, ../sass/main.scss */
.order-list {
  display: inline-block;
  width: 74%;
  height: 100px;
  padding: 25px 7px 0 20px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 196, ../sass/main.scss */
.order-list__item {
  display: inline-block;
  width: 25%;
  height: 75px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: #6E768F;
}
/* line 205, ../sass/main.scss */
.order-list--format {
  font-size: 10px;
  color: #6E768F;
}
/* line 209, ../sass/main.scss */
.order-list__subitem {
  display: block;
  color: #B0B7CF;
  margin-top: 7px;
  font-size: 12px;
  text-transform: lowercase;
  font-weight: 400;
}
