// @import "compass/reset";

/*
**Font
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*
**MIXINS
*/
@mixin pref($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/*
**Variables
*/
$orange: #FBBC7D;
$mainbg: #ECEEF4;
$blue: #77A7E0;
$green: #5FCAC6;
$foobg: #444A62;
$font: #6E768F;
$border: #D5DAE7;
$ver: 'Open Sans', sans-serif;

/*
**Style
*/
*{
    padding: 0;
    margin: 0;
    outline: none;
}

html{
    background: $mainbg;
}

.main-wrap{
    max-width: 1020px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: $ver;
    @include pref(box-sizing, border-box);
    .btn{
        border: 1px solid #C9D0E1;
        @include pref(box-sizing, border-box);
        @include pref(border-radius, 3px);
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font: bold 10px Verdana;
        color: $font;
        background: transparent;
        &__place-order{
            margin-bottom: 12px;
            background: $green;
            border: 1px solid #44B5B0;
            color: #fff;
            &:hover{
                background: #6fdbec;
            }
        }
        &__print-quote{
            &:hover{
                background: #c9d0e1;
            }
        }
    }
    .header{
        @include pref(display, flex);
        width: 100%;
        height: 118px;
        justify-content: space-between;
        align-items: center;
        &__go-back{
            background: url(../img/left.png)no-repeat 24px center;
        }
        &__sign-in{
            background: url(../img/signin.png)no-repeat 24px center;
        }
        .btn{
            width: 148px;
            height: 47px;
            padding: 17px 0;
        }
        &__logo{
            width: 91px;
            height: 91px;
            margin: auto;
        }
    }
}

.main{
    background: #fff;
    border: 1px solid $border;
    @include pref(border-radius, 7px);
}

.head-form{
    height: 148px;
    margin-bottom: 90px;
    border-bottom: 1px solid $border;
    overflow: hidden;
    &__order{
        width: 68%;
        padding: 26px 38px;
        float: left;
        border-right: 1px solid #d5dae7;
        @include pref(box-sizing, border-box);
    }
    &__help{
        width: 32%;
        padding: 26px 38px;
        float: right;
        @include pref(box-sizing, border-box);
        &_description{
            margin-top: 8px;
            padding-left: 33px;
            color: #B0B7CF;
            font-size: 12px;
            line-height: 14px;
        }
    }
    &__title{
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: $font;
    }
    .title-order{
        &::before{
            content: "";
            position: relative;
            display: inline-block;
            width: 16px;
            height: 20px;
            top: 3px;
            margin: 0px 12px 0 0px;
            background: url(../img/ico01.png);
        }
    }
    .title-help{
        &::before{
            content: "";
            position: relative;
            display: inline-block;
            width: 19px;
            height: 18px;
            top: 3px;
            margin: 0px 12px 0 0px;
            background: url(../img/ico02.png);
        }
    }
    &__btn{
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 25%;
        top: -25px;
        &_item{
            display: block;
            width: 153px;
            height: 47px;
        }
    }
}

.help-contacts{
    padding-left: 33px;
    &__item{
        all: unset;
        display: inline-block;
        margin-top: 14px;
        padding-right: 14px;
        font-size: 12px;
        font-weight: 700;
        color: $font;
    }
}

.order-list{
    display: inline-block;
    width: 74%;
    height: 100px;
    padding: 25px 7px 0 20px;
    vertical-align: top;
    @include pref(box-sizing, border-box);
    &__item{
        display: inline-block;
        width: 25%;
        height: 75px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: $font;
    }
    &--format{
        font-size: 10px;
        color: $font;
    }
    &__subitem{
        display: block;
        color: #B0B7CF;
        margin-top: 7px;
        font-size: 12px;
        text-transform: lowercase;
        font-weight: 400;
    }
}